.error-message {
    color: red;
    margin-top: 5px;
    font-size: 14px;
}
  #logooo{
    width: 70%;
    height: 90%;
    border-radius: 50%;
}
#icon{
  width:5%;
  height:10%;
  border-radius:50%;
}
#logo1{
  width:10%;
  height:20%;
  border-radius:25%;
}
body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-image: linear-gradient(to right, #000000, #FFD54F);
  background-repeat: no-repeat
}

input,
textarea {
  background-color: #F3E5F5;
  border-radius: 50px !important;
  padding: 12px 15px 12px 15px !important;
  width: 100%;
  box-sizing: border-box;
  border: none !important;
  border: 1px solid #F3E5F5 !important;
  font-size: 16px !important;
  color: #000 !important;
  font-weight: 400
}

input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #000000 !important;
  outline-width: 0;
  font-weight: 400
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0
}

.card {
  border-radius: 0;
  border: none
}

.card1 {
  width: 50%;
  padding: 40px 30px 10px 30px
}

.card2 {
  width: 50%;
  background-image: linear-gradient(to right, #FFD54F, #000000)
}

#logo {
  width: 100%;
  height: 100%;
}

.heading {
  margin-bottom: 60px !important
}

::placeholder {
  color: #000 !important;
  opacity: 1
}

:-ms-input-placeholder {
  color: #000 !important
}

::-ms-input-placeholder {
  color: #000 !important
}

.form-control-label {
  font-size: 12px;
  margin-left: 15px
}

.msg-info {
  padding-left: 15px;
  margin-bottom: 30px
}

.btn-color {
  border-radius: 50px;
  color: #fff;
  background-image: linear-gradient(to right, #FFD54F, #000000);
  padding: 15px;
  cursor: pointer;
  border: none !important;
  margin-top: 40px
}

.btn-color:hover {
  color: #fff;
  background-image: linear-gradient(to right, #000000, #FFD54F)
}

.btn-white {
  border-radius: 50px;
  color: #000000;
  background-color: #fff;
  padding: 8px 40px;
  cursor: pointer;
  border: 2px solid #000000 
}

.btn-white:hover {
  color: #fff;
  background-image: linear-gradient(to right, #FFD54F, #000000)
}

a {
  color: #000
}

a:hover {
  color: #000
}

.bottom {
  width: 100%;
  margin-top: 50px 
}

.sm-text {
  font-size: 15px
}

@media screen and (max-width: 992px) {
  .card1 {
      width: 100%;
      padding: 40px 30px 10px 30px
  }

  .card2 {
      width: 100%
  }

  .right {
      margin-top: 100px ;
      margin-bottom: 100px 
  }
}

@media screen and (max-width: 768px) {
  .container {
      padding: 10px 
  }

  .card2 {
      padding: 50px
  }

  .right {
      margin-top: 50px ;
      margin-bottom: 50px 
  }
}
  /*--------------------------------------------------------------

  # Header Nav

  --------------------------------------------------------------*/
  .header {
    transition: all 0.5s;
    z-index: 997;
    height: 60px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo img {
    max-height: 30px;
    margin-right: 6px;
    margin-left: 10px;
  }
  
  .logo span {
    font-size: 22px;
    font-weight: 700;
    color: #012970;
    font-family: "Nunito", sans-serif;
  }
  
  .header-nav ul {
    list-style: none;
    margin: 0;
    padding: 20px;
    display: flex;
    /* align-items: center; */
  }
  
  .header-nav ul li {
    margin-left: 20px;
    
  }
  
  .header-nav ul li:first-child {
    margin-left: 0;
    
  }
  
  .header-nav ul li a {
    text-decoration: none;
    color: #eab676;
  }
  
  .transparent-button {
    background: transparent;
    border: none;
    color: #eab676;
    padding: 0;
    display: inline-block;
  }
   /*====================

  Footer

====================== */
/* Copy Right Footer */

.footer-copyright { background: #222; padding: 5px 0;}

.footer-copyright .logo {    display: inherit;}

.footer-copyright nav {    float: right;    margin-top: 5px;}

.footer-copyright nav ul {  list-style: none; margin: 0;  padding: 0;}

.footer-copyright nav ul li { border-left: 1px solid #505050; display: inline-block;  line-height: 12px;  margin: 0;  padding: 0 8px;}

.footer-copyright nav ul li a{  color: #969696;}

.footer-copyright nav ul li:first-child { border: medium none;  padding-left: 0;}

.footer-copyright p { color: #969696; margin: 2px 0 0;}




/* Footer Top */

.footer-top{  background: #252525;  padding-bottom: 30px; margin-bottom: 30px;  border-bottom: 3px solid #222;}

footer.transparent .footer-copyright{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */

footer.light .footer-top{ background: #f9f9f9;}

footer.light .main-footer{  background: #f9f9f9;}

footer.light .footer-copyright{ background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

