:root {

    scroll-behavior: smooth;
  
  }
  
  
  
  body {
  
    font-family: "Open Sans", sans-serif;
  
    background: #f6f9ff;
  
    color: #444444;
    padding: 20px;
  }
  h1 {
    margin-top: 30px;
  }

  h3 {
    margin-top: 20px;
  }

  strong {
    font-weight: bold;
  }
  a {
  
    color: #4154f1;
  
    text-decoration: none;
  
  }
  
  
  
  a:hover {
  
    color: #717ff5;
  
    text-decoration: none;
  
  }
  /*--------------------------------------------------------------
  
  # Main
  
  --------------------------------------------------------------*/
  
  #main {
  
    margin-top: 60px;
  
    padding: 20px 30px;
  
    transition: all 0.3s;
  
    min-height:calc(100vh - 146px);
  
  }
  
  
  
  @media (max-width: 1199px) {
  
    #main {
  
      padding: 20px;
  
    }
  
  }
  
  /*--------------------------------------------------------------
  
  # Header
  
  --------------------------------------------------------------*/
  
  .logo {
  
    line-height: 1;
  
  }
  
  
  
  @media (min-width: 1200px) {
  
    .logo {
  
      width: 280px;
  
    }
  
  }
  
  
  
  .logo img {
  
    max-height: 30px;
  
    margin-right: 6px;
  
  }
  
  
  
  .logo span {
  
    font-size: 22px;
  
    font-weight: 700;
  
    color: #012970;
  
    font-family: "Nunito", sans-serif;
  
  }
  
  
  
  .header {
  
    transition: all 0.5s;
  
    z-index: 997;
  
    height: 60px;
  
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  
    background-color: #fff;
  
    padding-left: 20px;
  
  }
  .header .toggle-sidebar-btn {
  
    font-size: 32px;
  
    padding-left: 10px;
  
    cursor: pointer;
  
    color: #012970;
  
  }
  /*--------------------------------------------------------------
  
  # Header Nav
  
  --------------------------------------------------------------*/
  
  
  
  
  /*--------------------------------------------------------------
  
  # Sidebar
  
  --------------------------------------------------------------*/
  
  .sidebar {
  
    position: fixed;
  
    top: 60px;
  
    left: 0;
  
    bottom: 0;
  
    width: 260px;
  
    z-index: 996;
  
    transition: all 0.3s;
  
    padding: 20px;
  
    overflow-y: auto;
  
    scrollbar-width: thin;
  
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  
    background-color: #fff;
  
  }
  
  
  
  #check:checked ~ #header + .sidebar {
  
    left: -260px;
  
  }
  
  
  
  
  #check:checked ~ #header + #sidebar + #main, #check:checked ~ #header + #sidebar + #main + #footer
  
  {
  
   margin-left: 0;
  
  }
  
  
  
  #abcd{
  
    min-height:100%;
  
  }
  
  
  
  
  @media (max-width: 320) {
  
    .sidebar {
  
      left: -260px;
  
    }
  
  }
  
  
  
  .sidebar::-webkit-scrollbar {
  
    width: 5px;
  
    height: 8px;
  
    background-color: #fff;
  
  }
  
  
  
  .sidebar::-webkit-scrollbar-thumb {
  
    background-color: #aab7cf;
  
  }
  
  
  
  @media (min-width: 1200px) {
  
  
  
    #main,
  
    #footer {
  
      margin-left: 260px;
  
    }
  
  }
  
  
  
  @media (max-width: 1199px) {
  
    .toggle-sidebar .sidebar {
  
      left: 0;
  
    }
  
  }
  
  
  
  @media (min-width: 1200px) {
  
  
  
    .toggle-sidebar #main,
  
    .toggle-sidebar #footer {
  
      margin-left: 0;
  
    }
  
  
  
    .toggle-sidebar .sidebar {
  
      left: -260px;
  
    }
  
  }
  
  
  
  .sidebar-nav {
  
    padding: 0;
  
    margin: 0;
  
    list-style: none;
  
  }
  
  
  
  .sidebar-nav li {
  
    padding: 0;
  
    margin: 0;
  
    list-style: none;
  
  }
  
  
  
  .sidebar-nav .nav-item {
  
    margin-bottom: 5px;
  
  }
  
  
  
  .sidebar-nav .nav-heading {
  
    font-size: 11px;
  
    text-transform: uppercase;
  
    color: #eab676;
  
    font-weight: 600;
  
    margin: 10px 0 5px 15px;
  
  }
  
  
  
  .sidebar-nav .nav-link {
  
    display: flex;
  
    align-items: center;
  
    font-size: 15px;
  
    font-weight: 600;
  
    color: #eab676;
  
    transition: 0.3;
  
    padding: 10px 15px;
  
    border-radius: 4px;
  
  }
  
  
  
  .sidebar-nav .nav-link i {
  
    font-size: 16px;
  
    margin-right: 10px;
  
  
  }
  
  
  
  .sidebar-nav .nav-link.collapsed {
  
    color: #eab676;
  
  }
  
  
  
  .sidebar-nav .nav-link.collapsed i {
  
    color: #eab676;
  
  }
  
  
  
  .sidebar-nav .nav-link:hover {
  
    color: #eab676;
  
    background: #f6f9ff;
  
  }
  
  
  
  .sidebar-nav .nav-link:hover i {
  
    color: #eab676;
  
  }
  
  
  
  .sidebar-nav .nav-link .bi-chevron-down {
  
    margin-right: 0;
  
    transition: transform 0.2s ease-in-out;
  
  }
  
  
  
  .sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  
    transform: rotate(180deg);
  
  }
  
  
  
  .sidebar-nav .nav-content {
  
    padding: 5px 0 0 0;
  
    margin: 0;
  
    list-style: none;
  
  }
  
  
  
  .sidebar-nav .nav-content a {
  
    display: flex;
  
    align-items: center;
  
    font-size: 14px;
  
    font-weight: 600;
  
    color: #eab676;
  
    transition: 0.3;
  
    padding: 10px 0 10px 40px;
  
    transition: 0.3s;
  
  }
  
  
  
  .sidebar-nav .nav-content a i {
  
    font-size: 6px;
  
    margin-right: 8px;
  
    line-height: 0;
  
    border-radius: 50%;
  
  }
  
  
  
  .sidebar-nav .nav-content a:hover,
  
  .sidebar-nav .nav-content a.active {
  
    color: #4154f1;
  
  }
  
  
  
  .sidebar-nav .nav-content a.active i {
  
    background-color: #4154f1;
  
  }
  
  
  
  
  
  /*====================

  Footer

====================== */
/* Copy Right Footer */

.footer-copyright { background: #222; padding: 5px 0;}

.footer-copyright .logo {    display: inherit;}

.footer-copyright nav {    float: right;    margin-top: 5px;}

.footer-copyright nav ul {  list-style: none; margin: 0;  padding: 0;}

.footer-copyright nav ul li { border-left: 1px solid #505050; display: inline-block;  line-height: 12px;  margin: 0;  padding: 0 8px;}

.footer-copyright nav ul li a{  color: #969696;}

.footer-copyright nav ul li:first-child { border: medium none;  padding-left: 0;}

.footer-copyright p { color: #969696; margin: 2px 0 0;}




/* Footer Top */

.footer-top{  background: #252525;  padding-bottom: 30px; margin-bottom: 30px;  border-bottom: 3px solid #222;}

footer.transparent .footer-copyright{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */

footer.light .footer-top{ background: #f9f9f9;}

footer.light .main-footer{  background: #f9f9f9;}

footer.light .footer-copyright{ background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

/* -------------------------------------------------------------------------------- */
 
  #helpSection {

    margin: 20px;
  
    padding: 20px;
  
    background-color: #f5f5f5;
  
    border: 1px solid #ddd;
  
    border-radius: 5px;
  
  }
  
  
  
  
  h1, h2, h3 {
  
    color: #333;
  
  }
  
  
  
  
  .section {
  
    margin-bottom: 20px;
  
  }
  
  
  
  
  .section h1 {
  
    font-size: 24px;
  
    font-weight: bold;
  
    margin-bottom: 10px;
  
  }
  
  
  
  
  .section h2 {
  
    font-size: 20px;
  
    font-weight: bold;
  
    margin-bottom: 10px;
  
  }
  
  
  
  
  .section h3 {
  
    font-size: 16px;
  
    font-weight: bold;
  
    margin-bottom: 10px;
  
  }
  
  
  
  
  .section p {
  
    margin-bottom: 10px;
  
  }
  
  
  
  
  .section strong {
  
    font-weight: bold;
  
  }
  
  
  
  
  .section:last-child {
  
    margin-bottom: 0;
  
  }