<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="canonical" href="https://v5.getbootstrap.com/docs/5.0/examples/carousel/">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <!-- Add your CSS and JavaScript dependencies here -->
</head>

<body>
  <input type="checkbox" id="check" hidden>
  <header id="header" class="header fixed-top d-flex align-items-center" style="background-color:black;">
    <div class="d-flex align-items-center justify-content-between">
      <label for="check">
        <i class="bi bi-list toggle-sidebar-btn" style="color: #eab676;"></i>
      </label>&nbsp;&nbsp;
      <a href="" class="logo d-flex align-items-center">
        <img src="assets/logo.png" alt="">
        <span style="color: #eab676; font-family: cursive;">LIFESTYLE</span>
      </a>
    </div>
  </header>
  <aside id="sidebar" class="sidebar" style="background-color:black;">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-house-fill"></i><span>Home</span></a></li>
      <li class="nav-item"><a class="nav-link collapsed"[routerLink]="['/userdashboard']" ><i class="bi bi-box-fill"></i>
          <span>Category</span></a>
      </li>
      <li class="nav-item"><a class="nav-link collapsed"[routerLink]="['/inventory']" ><i class="bi bi-briefcase-fill"></i>
          <span>inventory</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" [routerLink]="['/reports']">
          <i class="bi bi-flag-fill"></i>
          <span>Report</span>
        </a>
      </li>
      <hr>
      <li class="nav-item">
        <a class="nav-link collapsed" [routerLink]="['/feedback']">
          <i class="bi bi-exclamation-octagon-fill"></i>
          <span>Send feedback</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed"[routerLink]="['/userlogin']">
          <i class="bi bi-box-arrow-in-left"></i>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </aside>
  <main id="main" class="main">
    <section class="section dashboard">
      <div class="row" id="abcd">
        <div class="col-12">
          <main class="black-borde">
            <div class="toolbar">
              <div class="add-employee">
                <button type="button" class="btn btn-outline-success btn-lg" (click)="openAddInventoryDialog()">
                  Add Inventory
                </button>
              </div>
           
            <div class="search-employees mt-3">
              <input type="search" class="form-control" placeholder="Search Inventory" #searchInput>
            </div>
          </div>

  
          <h1 class="text-center mt-3 dynamic-heading">INVENTORIES</h1>
          <section class="pricing-section">
        <div class="container">
         <div class="row justify-content-md-center">
          <div class="col-xl-5 col-lg-6 col-md-8">
        </div>
          </div>
            <div class="row" *ngIf="inven && inven.length > 0">
            <div class="col-md-4" *ngFor="let inventory of inven">
     
          <div class="price-card" >
            <h2>{{ inventory?.inventory_name }}</h2>
            <p>{{ inventory?.category_id }} {{ inventory?.category_name }}</p>
            <p class="price"><span>{{ inventory?.price }}</span></p>
            <ul class="pricing-offers">
              <li>Seller: {{ inventory?.seller }}</li>
              <li>Quantity: {{ inventory?.quantity }}</li>
              <li>Description: {{ inventory?.description }}</li>
              <li>Sold items: {{ inventory?.sold_items }}</li>
                <li>Sold date: {{ inventory?.sold_date }}</li>
                 </ul>
                 <button class="btn btn-danger" type="button" (click)="deleteUser(inventory.inventory_id)">
                      <i class="fa fa-trash"></i> Delete
                      </button>&nbsp;
                      <button class="btn btn-primary" type="button" (click)="openDialog(inventory.inventory_id)">
                        <i class="fa fa-edit"></i> Edit
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            
          </main>
        </div>
      </div>
    </section>
  </main>

       <!-- FOOTER -->
<footer id="footer" class="footer-1">
  
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p> @Copyright LifeStyle Pvt.Ltd.2000.</p>
        </div>
      </div>
    </div>
  </div>
</footer> 
</body>

</html>
